<project>
  <files>
    <dir
      name=".">
      <watched
        excludes=".*"
        subdirs="true">
        <filter
          name="CSS"/>
        <filter
          name="Html"/>
        <filter
          name="Javascript"/>
        <filter
          name="Php"/>
        <filter
          name="TypeScript"/>
        <filter
          name="Xml"/>
      </watched>
      <dir
        name="app">
        <auto
          name="globals.css"/>
        <auto
          name="layout.tsx"/>
        <auto
          name="page.tsx"/>
      </dir>
      <dir
        name="components">
        <auto
          name="CalendarCell.tsx"/>
        <auto
          name="CalendarFilters.tsx"/>
        <auto
          name="CalendarGrid.tsx"/>
        <auto
          name="FinancialCalendar.tsx"/>
        <auto
          name="FooterStats.tsx"/>
        <auto
          name="ListView.tsx"/>
        <dir
          name="modals">
          <auto
            name="BaseModal.tsx"/>
          <auto
            name="EventModal.tsx"/>
          <auto
            name="PublicationModal.tsx"/>
        </dir>
        <dir
          name="ui">
          <auto
            name="alert.tsx"/>
        </dir>
      </dir>
      <dir
        name="data">
        <auto
          name="index.ts"/>
      </dir>
      <dir
        name="hooks">
        <auto
          name="useCalendarState.ts"/>
        <auto
          name="usePopupPosition.ts"/>
        <auto
          name="usePublicationFilters.ts"/>
      </dir>
      <dir
        name="types">
        <auto
          name="index.ts"/>
        <auto
          name="json.d.ts"/>
      </dir>
      <dir
        name="utils">
        <auto
          name="calendarData.ts"/>
        <auto
          name="dateUtils.ts"/>
        <auto
          name="eventHandlers.ts"/>
        <auto
          name="publicationUtils.ts"/>
        <auto
          name="statsUtils.ts"/>
        <auto
          name="uiUtils.ts"/>
      </dir>
    </dir>
  </files>
</project>
